/* RESET */
/* COLORES */
/* FUENTES*/
/* RESET*/
* {
  font-family: "Ubuntu", sans-serif;
  color: bisque;
  background-color: #FF0054;
  padding: 0px;
  margin: 0px; }

/* LAYOUT*/
/* ENCABEZADO*/
.encabezado {
  background-color: #FF0054;
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #9E0059, #FFBD00, #FF0054); }
  .encabezado__titulo {
    font-size: 33px;
    display: flex;
    -webkit-text-stroke: 1px #9E0059;
    background-image: linear-gradient(to right, #9E0059, #FFBD00, #FF0054);
    animation-name: slide-right;
    animation-timing-function: infinite;
    animation-duration: 25s;
    animation-delay: 1s; }

@keyframes slide-right {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(700px);
    opacity: 0; } }
  .encabezado__subtitulo {
    background-color: #FF0054;
    display: flex;
    font-family: "Indie Flower", cursive;
    font-size: 31px;
    -webkit-text-stroke: 0.00001px #FFBD00;
    background-image: linear-gradient(to right, #9E0059, #FFBD00, #FF0054); }

/* PORTADA*/
.portada {
  display: flex; }
  .portada__texto {
    margin-top: 6px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    font-style: italic;
    text-align: justify;
    color: #9E0059;
    width: 450px; }
  .portada__foto {
    padding: 10px;
    background-color: #FF0054;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%; }

/* NAV-UNO INDEX*/
.nav-uno__tab {
  flex-direction: column; }
  .nav-uno__tab__texto {
    color: #FFBD00;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; }
    .nav-uno__tab__texto:hover {
      background-color: #9E0059; }

/* BOTON NAV-UNO RESPONSIVE */
.btn-resp {
  margin: 5px;
  color: white; }
  .btn-resp__icono {
    background-color: #FFBD00; }

/* NAV-DOS INDEX*/
.nav-dos__card {
  padding: 3px;
  margin-top: 10px;
  width: 100%;
  height: 100%; }
  .nav-dos__card img {
    width: 100%;
    height: 100%; }
  .nav-dos__card__btn {
    background-color: #FF0054;
    color: #FFBD00;
    display: flex;
    justify-content: center; }

a p {
  color: #FFBD00;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center; }
  a p:hover {
    background-color: #9E0059; }

/* MAPA INDEX */
.mapa {
  background-color: #FF0054;
  padding: 20px; }

/* FOOTER */
footer {
  background-color: #FF0054;
  text-align: center; }

/* PAGES*/
/* PAGES */
/* NAV-TRES */
.nav-tres__texto {
  color: #9E0059;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center; }
  .nav-tres__texto:hover {
    background-color: #FFBD00; }

h4 {
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #FFBD00; }

/* PAGE QUIENES SOMOS */
.contenedor-qs {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  .contenedor-qs__texto-identidad {
    display: flex;
    font-style: italic;
    text-align: justify;
    color: #9E0059;
    width: 450px;
    margin-top: 20px;
    align-items: center;
    font-size: 15px;
    font-weight: bold; }
  .contenedor-qs__foto-familia {
    margin: 30px;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 50vh; }

.cont-audio {
  padding: 25px;
  display: flex;
  justify-content: center; }

/* PAGE QUE HACER */
.intro-quehacer {
  font-size: 15px;
  font-weight: bold;
  color: #9E0059;
  margin: 15px; }

nav ul li {
  list-style: none; }
  nav ul li a {
    color: #9E0059;
    font-size: 15px;
    text-decoration: none; }
    nav ul li a:hover {
      font-size: larger; }

.galeria-qh__card {
  padding: 3px;
  margin: 10px;
  width: 100%;
  height: 100%; }
  .galeria-qh__card__img {
    height: 450px;
    width: 100%; }

.galeria-qh__texto {
  color: #FFBD00;
  text-align: center;
  font-style: normal;
  font-weight: bold; }

/* PAGE CONTACTO */
h5 {
  color: #FFBD00;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  padding: 5px;
  margin-top: 10px;
  margin-left: 35px; }

.seguridad {
  color: black;
  font-size: 11px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 35px; }

.cont-form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column; }
  .cont-form__form {
    display: flex;
    flex-direction: column; }
    .cont-form__form__label {
      font-size: 15px; }
      .cont-form__form__label__input {
        padding: 10px 14px;
        background-color: bisque;
        border-radius: 5px;
        border: 0;
        font-size: 15px;
        color: #9E0059;
        margin-bottom: 20px; }
        .cont-form__form__label__input:focus {
          outline: 3px solid #9E0059; }
      .cont-form__form__label__textarea {
        padding: 10px 14px;
        background-color: bisque;
        border-radius: 5px;
        border: 0;
        font-size: 15px;
        color: #9E0059;
        margin-bottom: 20px; }
        .cont-form__form__label__textarea:focus {
          outline: 3px solid #9E0059; }
    .cont-form__form__btn-enviar {
      border: 0;
      border-radius: 5px;
      background-color: #9E0059;
      color: bisque;
      cursor: pointer; }
      .cont-form__form__btn-enviar:hover {
        background-color: #FFBD00; }
      .cont-form__form__btn-enviar:focus {
        outline: 3px solid #FFBD00; }

/* PAGE CASA ROJA Y CASA BLANCA */
.intro-casas {
  font-size: 15px;
  font-weight: bold;
  color: #9E0059;
  margin: 15px; }

ul li {
  font-size: 15px;
  font-weight: bold;
  color: #9E0059; }

.galeria-casas__card {
  padding: 3px;
  width: 100%;
  height: 100%; }
  .galeria-casas__card__img {
    height: 450px;
    width: 100%; }
  .galeria-casas__card__texto {
    color: #9E0059;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-style: normal; }
  .galeria-casas__card__video {
    height: 505px; }

/* ENLACE WHATSAPP */
a svg {
  width: 7%;
  height: 7%;
  background-color: transparent;
  position: fixed;
  right: 0vw;
  z-index: 1;
  top: 70vh; }

/* ENLACE HOME SOLO PARA PAGES */
.icono-home {
  width: 7%;
  height: 7%;
  background-color: transparent;
  position: fixed;
  right: 0vw;
  z-index: 1;
  top: 40vh; }
