/* Color bordó: 9E0059
 amarillo: FFBD00
 rosa: FF0054
naranja: FF5400
*/
@font-face {
    font-family: "indie flower";
    src: url(../assets/Indie\ Flower\ Fuente/);
}


* {
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
    background-color: #FF0054;
    padding: 0px;
    margin: 0px;
}


/*HEADER*/
.encabezado {
    background-color: #FF0054;
    height: 14VH;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.encabezado_titulo {
    font-size: 33px;
    display: flex;
    -webkit-text-stroke: 1px #9E0059;
}


.encabezado_subtitulo {
    background-color: #FF0054;
    display: flex;
    font-family: "indie flower";
    font-size: 31px;
    -webkit-text-stroke: 0.00001px #FFBD00;
}


/*MAIN*/
p {
    display: flex;
    margin-left: 30px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #9E0059;
    width: 400px;
}


.foto-portada {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    background-color: #FF0054;
}


.navbar-uno {
    flex-direction: column;
}


nav ul li a:hover {
    color: #FFBD00;
}


.navbar-dos {
    display: flex;
}


.boton-2 {
    background-color: #FF0054;
    font-size: 18px;
    color: #FFBD00;
    display: flex;
    justify-content: center;
}


.boton:hover {
    color: #9E0059;
}


.boton-2:hover {
    color: #9E0059;
}


nav ul li a {
    color: #FFBD00;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}


nav ul li a:hover {
    background-color: #9E0059;
}


.contenedor-cards {
    margin-top: 10px;
}

.mapa {
    background-color: #FF0054;
    padding: 10px;
}


/* FOOTER*/
footer {
    background-color: #FF0054;
    text-align: center;
}


/* PAGES*/
h4 {
    font-size: 40px;
    text-align: center;
    color: #FFBD00;
}


.contenedor-fotos {
    margin-top: 5px;
    padding: 5px;
}


div.galeriacasablanca img {
    height: 25%;
    width: 25%;
}


div.galeriacasaroja img {
    height: 25%;
    width: 25%;
}


/* PAGE CONTACTO */
.contenido-formulario {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
}

.contenido-formulario h5 {
    color: #FFBD00;
    font-size: 30px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 17px;
}

input,
textarea {
    padding: 17px 14px;
    background-color: bisque;
    border: 0;
    font-size: 15px;
    color: #9E0059;
    margin-bottom: 20px;
}

:focus {
    outline: 3px solid #FFBD00;

}

.boton-enviar {
    background-color: #9E0059;
    color: bisque;
}

.boton-enviar:hover {
    background-color: black;
}