/* Color bordó: 9E0059
 amarillo: FFBD00
 rosa: FF0054
naranja: FF5400
*/
@font-face {
    font-family: "indie flower";
    src: url(../assets/Indie\ Flower\ Fuente/);
}

* {
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
    background-color: #FF0054;
    padding: 0px;
    margin: 0px;
}

/*HEADER*/
.encabezado {
    background-color: #FF0054;
    height: 14VH;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.encabezado_titulo {
    font-size: 33px;
    display: flex;
    -webkit-text-stroke: 1px #9E0059;
}

.encabezado_subtitulo {
    background-color: #FF0054;
    display: flex;
    font-family: "indie flower";
    font-size: 31px;
    -webkit-text-stroke: 0.00001px #FFBD00;
}

/*MAIN*/
.portada {
    display: flex;
}

.portada_texto {
    display: flex;
    margin-left: 30px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #9E0059;
    width: 400px;
}

.portada_foto {
    padding: 10px;
    background-color: #FF0054;
}

.nav-uno {
    flex-direction: column;
}

.nav-uno_texto {
    color: #FFBD00;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.nav-uno_texto:hover {
    background-color: #9E0059;
}

.nav-dos_cont-cards {
    margin-top: 10px;
}

.nav-dos_cont-cards_item-card {
    padding: 3px;
}

.nav-dos_cont-cards_item-card_btn-dos {
    background-color: #FF0054;
    color: #FFBD00;
    display: flex;
    justify-content: center;
}

.nav-dos_cont-cards_item-card_btn-dos_texto {
    color: #FFBD00;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.nav-dos_cont-cards_item-card_btn-dos_texto:hover {
    background-color: #9E0059;
}

.mapa {
    background-color: #FF0054;
    padding: 10px;
}

/* FOOTER*/
footer {
    background-color: #FF0054;
    text-align: center;
}

/* PAGES*/
/* PAGE QUIENES SOMOS */
h4 {
    font-size: 30px;
    text-align: center;
    color: #FFBD00;
}

.texto-identidad {
    display: flex;
    margin-left: 30px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #9E0059;
    width: 400px;
}

.contenedor-foto-familia {
    display: flex;
    justify-content: center;
}

/* PAGE QUE HACER*/
h4 {
    font-size: 30px;
    text-align: center;
    color: #FFBD00;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #9E0059;
    font-size: 23px;
    text-decoration: none;
}

.card-galeria-que-hacer {
    padding: 3px;
    margin: 10px;
}

.card-galeria-que-hacer_item-img {
    height: 450px;
}

.card-galeria-que-hacer_texto {
    color: #FFBD00;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

/* PAGE CONTACTO */
h4 {
    font-size: 30px;
    text-align: center;
    color: #FFBD00;
}

.contenedor-formulario {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
}

.contenedor-formulario h5 {
    color: #FFBD00;
    font-size: 30px;
    margin-bottom: 25px;
}

.contenedor-formulario_form {
    display: flex;
    flex-direction: column;
}

.contenedor-formulario_form_label {
    font-size: 17px;
}

.contenedor-formulario_form_label_input,
textarea {
    padding: 17px 14px;
    background-color: bisque;
    border: 0;
    font-size: 15px;
    color: #9E0059;
    margin-bottom: 20px;
}

:focus {
    outline: 3px solid #FFBD00;
}

.contenedor-formulario_form_boton-enviar {
    background-color: #9E0059;
    color: bisque;
}

.contenedor-formulario_form_boton-enviar:hover {
    background-color: black;
}

/* PAGE CASAROJA/ CASABLANCA*/
h4 {
    font-size: 30px;
    text-align: center;
    color: #FFBD00;
}

.card-galeria-casas {
    padding: 3px;
    margin: 10px;
}

.card-galeria-casas_item-img {
    height: 450px;
}

.card-galeria-casas_texto {
    color: #9E0059;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

/* ESTILO ENLACE WHATSAPP*/
a svg {
    background-color: transparent;
    position: fixed;
    top: 70vh;
    right: 2vw;
    z-index: 1;
}

/* ESTILO ENLACE HOME*/
.icono-home {
    background-color: transparent;
    position: fixed;
    top: 30vh;
    right: 2vw;
    z-index: 1;
}