/* COLORES */
$amarillo: bisque;
$fondo-coral: #FF0054;
$bordo: #9E0059;
$naranja: #FFBD00;
$whatsapp: lime;
$blanco: white;
$negro: black;

/* FUENTES*/
$fuente-principal: 'Ubuntu', sans-serif;
$fuente-logo: 'Indie Flower', cursive;
