/* PAGE CASA BLANCA*/
h4 {
    @include h4;
}

.card-galeria-casas {
    padding: 3px;
    margin: 10px;
}

.card-galeria-casas_item-img {
    height: 450px;
}

.card-galeria-casas_texto {
    color: $bordo;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}