/* PAGE CONTACTO */
h5 {
    color: $naranja;
    @include fonts-s-w (17px);
    display: flex;
    padding: 5px;
    margin-left: 15px;
}

.seguridad {
    color: $negro;
    font-size: 11px;
    padding: 5px;
    margin-left: 15px;
}

.cont-form {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    &__form {
        @include dflex-fdircol;
        margin-top: 30px;

        &__label {
            font-size: 15px;

            &__input {
                @include celdas;

                &:focus {
                    @include foco-celda;
                }
            }

            &__textarea {
                @include celdas;

                &:focus {
                    @include foco-celda;
                }
            }
        }

        &__btn-enviar {
            border: 0;
            border-radius: 5px;
            background-color: $bordo;
            color: $amarillo;
            cursor: pointer;

            &:hover {
                background-color: $naranja;
            }

            &:focus {
                outline: 3px solid #FFBD00;
            }
        }
    }
}