/* PAGE CONTACTO */
.cont-form {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;

    & h5 {
        color: $naranja;
        @include fonts-s-w (17px);
        margin-bottom: 25px;
    }

    &__seguridad {
        color: $negro;
        font-size: 11px;
    }

    &__form {
        @include dflex-fdircol;

        &__label {
            font-size: 15px;

            &__input {
                @include celdas;

                &:focus {
                    @include foco-celda;
                }
            }

            &__textarea {
                @include celdas;

                &:focus {
                    @include foco-celda;
                }
            }
        }

        &__btn-enviar {
            border: 0;
            border-radius: 5px;
            background-color: $bordo;
            color: $amarillo;
            cursor: pointer;

            &:hover {
                background-color: $naranja;
            }

            &:focus {
                outline: 3px solid #FFBD00;
            }
        }
    }
}