@mixin gradiente {
    background-image: linear-gradient(to right, $bordo, $naranja, $fondo-coral);
}

@mixin fonts-s-w ($size) {
    font-size: $size;
    font-weight: bold;
}

@mixin dflex-juscenter {
    display: flex;
    justify-content: center;
}

@mixin dflex-fdircol {
    display: flex;
    flex-direction: column;
}

@mixin texto-btn {
    color: $naranja;
    font-style: normal;
    @include fonts-s-w (20px);
    @include dflex-juscenter;
}

@mixin parrafo {
    display: flex;
    font-style: italic;
    text-align: justify;
    color: $bordo;
    width: 450px;
}

@mixin intro {
    @include fonts-s-w (15px);
    color: $bordo;
    margin: 15px;

}

@mixin btn-resp {
    margin: 5px;
    color: white;
}

@mixin celdas {
    padding: 10px 14px;
    background-color: $amarillo;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    color: $bordo;
    margin-bottom: 20px;
}

@mixin foco-celda {
    outline: 3px solid $bordo;
}

@mixin pad-bkgcolor($pad) {
    padding: $pad;
    background-color: $fondo-coral;
}

@mixin enlaces {
    width: 7%;
    height: 7%;
    background-color: transparent;
    position: fixed;
    right: 0vw;
    z-index: 1;
}
