/* PAGE QUIENES SOMOS */
.contenedor-qs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &__texto-identidad {
        @include parrafo;
        margin-top: 20px;
        align-items: center;
        @include fonts-s-w (15px)
    }

    &__foto-familia {
        margin: 30px;
        @include dflex-juscenter;
        width: 80vw;
        height: 50vh;
    }
}

.cont-audio {
    padding: 25px;
    display: flex;
    justify-content: center;
}
